<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类管理（sql隔离） -->
<!-- mapper代理开发中有重要作用 namespace等于mapper接口的地址 -->
<mapper namespace="cn.edu.ouc.mapper.FirstIndexWeightMapper">

	<resultMap type="cn.edu.ouc.pojo.dto.IndexData" id="FirstIndexWeightKV">
		<result property="index" column="index_id" />
		<result property="value" column="value" />
	</resultMap>

	<delete id="deletAll">
		DELETE FROM first_index_data
	</delete>

</mapper>